<html>
<head>
<style type="text/css">
td,th
{
	border-width:1px;	
    border-style:dotted;
	font-family:Arial, Helvetica, sans-serif;
	font-size:85%;
	width:200px;
	background:#E0F574;
}
#container {
	margin:50px auto;
	width:600px;
}
</style>
</head>
<body style="background-image:url(images/background-repeatx.jpg)">
<div id="container">
<table>
  <tr>
    <th>Employability - TTH</th>
  </tr>
  <tr>
    <th>7:00-8:30</th>
  </tr>
<div>
<% @skeds.each do |sked| %>
  <tr>
    <td><%= sked.name %></td>
  </tr>
<% end %>
</div>
</table>
</body>
</html>
