<h2>Modify Schedule</h2>
<h3>Note: <i>AM students don't have 4th and 5th periods while PM students don't have 1st and 2nd periods.</i></h3>
<%= render 'form' %>

<%= link_to 'Show', @sked %> |
<%= link_to 'Back', skeds_path %>
