<h2>MWF - 7:00 - 8:30</h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skeds.each do |sked| %>
  <tr>
    <td><%= sked.name %></td>
  </tr>
<% end %>
</table>

<br />

